* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    --background-black: #000;
    --input-background: #06181C;
    --input-color: #7C7C8A;
    --white-color: #FFF;
    --button-background: #065E7C;
    --table-data-color: #E1E1E6;
    --table-border-color: #4A808C;
    --table-header-color: #E1E1E6;
    --remove-button-color: #F75A68;
    --table-no-user-color: #4E5455;
}

body {
    font-size: 1.6rem;
    background: var(--background-black);
    max-width: 112rem;
    margin: 11.6rem auto;
    overflow-y: hidden;
}

button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.8rem;
}

.search {
    display: flex;
    gap: .8rem;
}

input {
    background: var(--input-background);
    border: none;
    padding: 1.6rem;
    border-radius: .5rem;
    width: 46.2rem;
    height: 4.8rem;
    color: var(--input-color);
    font-size: 1.6rem;
}

input::placeholder {
    color: var(--input-color);
    font-family: Roboto;
    font-size: 1.6rem;
}

.search button {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    gap: .8rem;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--button-background);
    border: none;
    border-radius: .5rem;
    padding: 1.2rem 3.2rem;
}

.search button img {
    width: 2.4rem;
    height: 2.4rem;
}

.search button:hover {
    background: var(--white-color);
    color: #065E7C;
}

.search button:hover .star-icon {
    fill: var(--button-background);
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
    border: 1px solid #4A808C;
    box-shadow: 0px 4px 30px rgba(74, 128, 140, 0.5);
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #4A808C;
    border-right: 1px solid #4A808C;
    border-left: 1px solid #4A808C;
}

tbody {
    display: block;
    max-height: 52.5rem;
    overflow-y: auto; 
    width: 100%;
    border-right: 1px solid #4A808C;
    border-left: 1px solid #4A808C;
    border-bottom: 1px solid #4A808C;
}

tbody::-webkit-scrollbar {
    width: 1.2rem;
}

tbody::-webkit-scrollbar-track {
    background: transparent;
}

tbody::-webkit-scrollbar-thumb {
    background-color: rgba(6, 22, 27, 1);
    border-radius: .6rem;
    border: .3rem solid transparent;
    background-clip: content-box;
}

th, td {
    text-align: center;
    padding: 1.6rem;
}

th {
    background-color: #092D38;
    font-size: 2rem;
    font-weight: 700;
    color: var(--table-header-color);
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(odd) {
    background: #06181C;
}

tr:nth-child(even) {
    background: rgba(6, 22, 27, 0.50);
    border-right: 1px solid #4A808C;
    border-left: 1px solid #4A808C;
    border-bottom: 1px solid #4A808C;
}

tbody > tr:nth-child(odd) {
    border-bottom: 1px solid #4A808C;
    border-right: 1px solid #4A808C;
}

td {
    color: var(--table-data-color);
    font-size: 2rem;
    font-weight: 700;
}

td a {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-left: 4rem;
}


td.user img {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
}

.user-information {
    text-align: left;
}

.user a {
    text-decoration: none;
}

.username,
.user-login {
    color: var(--table-data-color);
}

.username {
    font-weight: 700;
    min-width: max-content;
}

.user-login {
    font-weight: 400;
}

td button {
    background-color: transparent;
    border: none;
    color: var(--remove-button-color);
    font-size: 2rem;
    font-weight: 700;
}

.no-entries td {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 51.5rem;
    gap: 6rem;
}

.no-entries td p {
    color: var(--table-no-user-color);
    font-family: "Roboto Mono", monospace;
    font-size: 4rem;
}

.hidden {
    display: none;
}